@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
#myProgress {
    width: 50%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 95%;
    height: 30px;
    background-color: #04AA6D;
  }

